@page "/access-denied"

<div class="row">
    <div class="col-lg-4 offset-lg-4 pt-4 pb-4 border">
        <div class="mb-3 text-center flex-column">
            <img src="/images/avatar.png" style="max-height:5rem;" />
            <h3>ACCESS DENIED</h3>
        </div>
        <div class="mb-3 text-center">
            <span class="text-danger">You are not authorized to access this page</span>
        </div>
        <div class="mb-3 d-grid gap-2">
            <button class="btn btn-primary" onclick="history.back();">Go Back</button>
        </div>
    </div>
</div>

